.login{
    display: grid;
    place-items: center;
    height: 100vh;
}
.login img{
    width: 60%;
    height: 70vh;
}
.login a{
    padding:10px 30px;
    border-radius: 9px;
    background: #00ff00;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}